---
const { project } = Astro.props;
---

<article
  class="w-full bg-white flex flex-col md:flex-row md:h-[25rem] xl:h-[30rem] h-[600px] rounded-xl overflow-hidden pb-10 md:pb-0 hover:shadow-lg hover:shadow-indigo-200/50 transition-all hover:scale-[1.01]"
>
  <img
    src={project.image}
    alt=""
    class="w-full aspect-video object-cover md:w-1/2 md:h-full"
  />

  <div class="px-5 mt-8 flex flex-col h-full md:w-1/2 md:mt-0 md:py-8">
    <p class="font-bold mb-4 text-lg md:text-center md:text-base xl:text-lg">
      {project.title}
    </p>
    <div
      class="tags-container mb-10 flex flex-wrap gap-2 xl:gap-4 xl:my-5 mx-auto"
    >
      {
        project.tags.map((tag) => (
          <>
            <span class="text-xs md:text-[10px] xl:text-xs">{tag}</span>
          </>
        ))
      }
    </div>
    <p
      class="text-sm text-slate-500 leading-7 md:text-xs md:leading-7 xl:text-sm xl:leading-7 xl:text-center xl:mt-5"
    >
      {project.description}
    </p>
    <div class="mt-auto px-6 flex items-center justify-between">
      <a
        href={project.githubLink}
        target="_blank"
        class="bg-slate-800 text-white text-base flex items-center gap-2 py-2 px-4 rounded-xl md:text-xs xl:text-base hover:bg-slate-700"
        ><span
          ><svg
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_15_5)">
              <path
                d="M8.50001 0.708346C6.45538 0.687569 4.48615 1.47944 3.02511 2.90993C1.56407 4.34043 0.730769 6.29248 0.708344 8.3371C0.716222 9.95292 1.23601 11.5247 2.19305 12.8266C3.1501 14.1286 4.49515 15.0937 6.03501 15.5833C6.4246 15.6542 6.56626 15.4204 6.56626 15.215V13.9188C4.39876 14.3792 3.93834 12.8988 3.93834 12.8988C3.79405 12.434 3.4873 12.0368 3.07418 11.7796C2.36584 11.3121 3.13084 11.3192 3.13084 11.3192C3.37568 11.3519 3.60993 11.4397 3.81602 11.5758C4.02211 11.712 4.1947 11.8931 4.32084 12.1054C4.54066 12.4866 4.90135 12.7662 5.32527 12.8841C5.74919 13.002 6.20246 12.9488 6.58751 12.7358C6.62711 12.3479 6.80277 11.9866 7.08334 11.7158C5.35501 11.5246 3.54168 10.8729 3.54168 7.94751C3.52622 7.18441 3.80818 6.44522 4.32793 5.88626C4.09122 5.2311 4.11917 4.50948 4.40584 3.8746C4.40584 3.8746 5.06459 3.66918 6.53085 4.65376C7.80719 4.31365 9.15034 4.31365 10.4267 4.65376C11.9142 3.66918 12.5517 3.8746 12.5517 3.8746C12.8384 4.50948 12.8663 5.2311 12.6296 5.88626C13.1614 6.43497 13.4587 7.1692 13.4583 7.93335C13.4583 10.8658 11.6308 11.5104 9.91668 11.7017C10.1044 11.8839 10.2494 12.1055 10.3412 12.3504C10.4331 12.5954 10.4695 12.8576 10.4479 13.1183V15.2079C10.4479 15.4558 10.5896 15.6542 10.9792 15.5763C12.5147 15.0835 13.8552 14.1182 14.8093 12.8181C15.7634 11.518 16.2822 9.94968 16.2917 8.3371C16.2693 6.29248 15.436 4.34043 13.9749 2.90993C12.5139 1.47944 10.5446 0.687569 8.50001 0.708346Z"
                fill="#f2f2f2"></path>
            </g>
            <defs>
              <clipPath id="clip0_15_5">
                <rect width="17" height="17" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </span> github</a
      >
      <a
        href={project.siteUrl}
        target="_blank"
        class="shadow-lg shadow-indigo-200/30 px-4 rounded-lg py-2 md:text-xs xl:text-base hover:bg-teal-50"
        >view demo</a
      >
    </div>
  </div>
</article>

<style>
  .tags-container span:nth-child(4n + 1) {
    background-color: rgba(210, 239, 255, 0.438);
    color: rgb(86, 148, 230);
    border-radius: 20px;
    padding-inline: 5px;
  }
  .tags-container span:nth-child(3n) {
    background-color: rgba(221, 214, 254, 0.308);
    color: rgb(102, 85, 177);
    border-radius: 20px;
    padding-inline: 5px;
  }
  .tags-container span:nth-child(4n) {
    background-color: rgba(214, 254, 224, 0.473);
    color: rgba(36, 102, 53, 0.473);
    border-radius: 20px;
    padding-inline: 5px;
  }
  .tags-container span:nth-child(5n + 2) {
    background-color: rgba(253, 177, 221, 0.253);
    color: rgb(187, 81, 143);
    border-radius: 20px;
    padding-inline: 5px;
  }
</style>
